@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #ff0000;
    --cor-rosa: #ee005f;
    --cor-roxo: #b62a8f;
    --cor-cinza: #2f4858;
    --cor-azulescuro: #325082;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
}

#body {
    background-color: var(--cor-azulescuro);
}

#rodape {
    background-color: var(--cor-cinza);
    color: var(--cor-branco);
}

#ancora {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    transition:  color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;
}

.habilidades {
    text-decoration: none;
}